*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/local.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.build/
/build/

**/generated/source/r/
**/generated/source/aidl/
**/generated/source/buildConfig/
**/generated/source/rs/
**/generated/source/apt/

**/build/outputs/apk/*.apk
**/build/outputs/androidTest/*.apk

**/build/intermediates/dex/
**/build/intermediates/incremental/
**/build/intermediates/manifests/
**/build/intermediates/mockable-android-jar/
**/build/intermediates/packaged_resources/
**/build/intermediates/renderscript/
**/build/intermediates/symbols/

/proguard-rules.pro
/proguard-android.txt
/consumer-rules.pro

.DS_Store
Thumbs.db
captures/
